.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin-top: $m-size;
}

.add-option {
    display:flex;
    padding:$m-size;
    @media (max-width: 45rem) {
        flex-direction: column;
    }
}

.add-option__input {
    background: $grey-dark;
    border:none;
    border-bottom: .3rem solid darken($grey-dark, 10%);
    flex-grow: 1;
    padding:10px;
    @media (min-width: 45rem) {
        margin-right: $s-size;
    }
    @media (max-width: 45rem) {
        margin-bottom: $s-size;
    }
}

.add-option__input:focus {
    outline: none;
}