.widget-header {
    background: $grey-dark;
    padding: $m-size;
    display:flex;
    justify-content: space-between;
}

.widget-header__title {
    margin:0;
}

.widget-header__button {
    margin:0;
}

.widget {
    background: $grey-light;
    margin-bottom: $xl-size;
}

.widget__message {
    margin:0;
    padding:$l-size;
    color:$off-white;
    text-align: center;
    border-bottom: .1rem solid lighten($grey-light, 5%);
}